USE [MTS_CMMS]
GO
/****** Object:  Table [dbo].[BitacoraEstadosOT]    Script Date: 9/7/2026 11:43:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BitacoraEstadosOT](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[OrdenTrabajoID] [int] NOT NULL,
	[EstadoAnteriorID] [int] NULL,
	[EstadoNuevoID] [int] NOT NULL,
	[UsuarioID] [int] NOT NULL,
	[FechaCambio] [datetime] NOT NULL,
	[Comentario] [varchar](500) NULL,
	[activo] [bit] NOT NULL,
	[fecharegistro] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BitacoraTransferenciasOT]    Script Date: 9/7/2026 11:43:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BitacoraTransferenciasOT](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[OrdenTrabajoID] [int] NOT NULL,
	[TecnicoSalienteID] [int] NOT NULL,
	[TecnicoEntranteID] [int] NOT NULL,
	[ComentarioHandover] [varchar](1000) NOT NULL,
	[FechaTransferencia] [datetime] NOT NULL,
	[activo] [bit] NOT NULL,
	[fecharegistro] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CatAreas]    Script Date: 9/7/2026 11:43:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CatAreas](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](100) NOT NULL,
	[Descripcion] [varchar](250) NULL,
	[activo] [bit] NOT NULL,
	[fecharegistro] [datetime] NOT NULL,
	[UsuarioRegistroID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CatCausas4M]    Script Date: 9/7/2026 11:43:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CatCausas4M](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Descripcion] [varchar](250) NULL,
	[activo] [bit] NOT NULL,
	[fecharegistro] [datetime] NOT NULL,
	[UsuarioRegistroID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CatClasificacionesFallaLider]    Script Date: 9/7/2026 11:43:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CatClasificacionesFallaLider](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](100) NOT NULL,
	[Descripcion] [varchar](250) NULL,
	[activo] [bit] NOT NULL,
	[fecharegistro] [datetime] NOT NULL,
	[UsuarioRegistroID] [int] NULL,
	[Causa4MsID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CatEquipos]    Script Date: 9/7/2026 11:43:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CatEquipos](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[EstacionID] [int] NOT NULL,
	[TipoEquipoID] [int] NOT NULL,
	[Nombre] [varchar](100) NOT NULL,
	[Modelo] [varchar](100) NULL,
	[NumeroSerie] [varchar](100) NULL,
	[activo] [bit] NOT NULL,
	[fecharegistro] [datetime] NOT NULL,
	[UsuarioRegistroID] [int] NULL,
	[CodigoQR] [varchar](150) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CatEstaciones]    Script Date: 9/7/2026 11:43:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CatEstaciones](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[LineaID] [int] NOT NULL,
	[Nombre] [varchar](100) NOT NULL,
	[CodigoQR] [varchar](150) NOT NULL,
	[activo] [bit] NOT NULL,
	[fecharegistro] [datetime] NOT NULL,
	[UsuarioRegistroID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CatEstadosOT]    Script Date: 9/7/2026 11:43:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CatEstadosOT](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Descripcion] [varchar](250) NULL,
	[activo] [bit] NOT NULL,
	[fecharegistro] [datetime] NOT NULL,
	[UsuarioRegistroID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CatFallasComunes]    Script Date: 9/7/2026 11:43:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CatFallasComunes](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TipoEquipoID] [int] NOT NULL,
	[CodigoFalla] [varchar](20) NOT NULL,
	[Nombre] [varchar](150) NOT NULL,
	[Descripcion] [varchar](500) NULL,
	[activo] [bit] NOT NULL,
	[fecharegistro] [datetime] NOT NULL,
	[UsuarioRegistroID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CatLineas]    Script Date: 9/7/2026 11:43:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CatLineas](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[AreaID] [int] NOT NULL,
	[Nombre] [varchar](100) NOT NULL,
	[activo] [bit] NOT NULL,
	[fecharegistro] [datetime] NOT NULL,
	[UsuarioRegistroID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CatMateriales]    Script Date: 9/7/2026 11:43:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CatMateriales](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NumeroParte] [varchar](100) NOT NULL,
	[Nombre] [varchar](150) NOT NULL,
	[Stock] [decimal](18, 2) NOT NULL,
	[UnidadMedida] [varchar](20) NOT NULL,
	[activo] [bit] NOT NULL,
	[fecharegistro] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CatModosFallaReal]    Script Date: 9/7/2026 11:43:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CatModosFallaReal](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TipoEquipoID] [int] NOT NULL,
	[CodigoFalla] [varchar](20) NOT NULL,
	[Nombre] [varchar](150) NOT NULL,
	[Descripcion] [varchar](500) NULL,
	[activo] [bit] NOT NULL,
	[fecharegistro] [datetime] NOT NULL,
	[UsuarioRegistroID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CatMotivosPausa]    Script Date: 9/7/2026 11:43:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CatMotivosPausa](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](100) NOT NULL,
	[Descripcion] [varchar](250) NULL,
	[activo] [bit] NOT NULL,
	[fecharegistro] [datetime] NOT NULL,
	[UsuarioRegistroID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CatRoles]    Script Date: 9/7/2026 11:43:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CatRoles](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Descripcion] [varchar](250) NULL,
	[activo] [bit] NOT NULL,
	[fecharegistro] [datetime] NOT NULL,
	[UsuarioRegistroID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CatRutinasPreventivas]    Script Date: 9/7/2026 11:43:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CatRutinasPreventivas](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TipoEquipoID] [int] NOT NULL,
	[Nombre] [varchar](150) NOT NULL,
	[Descripcion] [varchar](1000) NULL,
	[FrecuenciaDias] [int] NOT NULL,
	[activo] [bit] NOT NULL,
	[fecharegistro] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CatSintomasFallaLider]    Script Date: 9/7/2026 11:43:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CatSintomasFallaLider](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](150) NOT NULL,
	[Descripcion] [varchar](250) NULL,
	[activo] [bit] NOT NULL,
	[fecharegistro] [datetime] NOT NULL,
	[UsuarioRegistroID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CatSolucionesComunes]    Script Date: 9/7/2026 11:43:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CatSolucionesComunes](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[FallaComunID] [int] NOT NULL,
	[Nombre] [varchar](150) NOT NULL,
	[Descripcion] [varchar](500) NULL,
	[activo] [bit] NOT NULL,
	[fecharegistro] [datetime] NOT NULL,
	[UsuarioRegistroID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CatTiposEquipo]    Script Date: 9/7/2026 11:43:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CatTiposEquipo](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](100) NOT NULL,
	[Descripcion] [varchar](250) NULL,
	[activo] [bit] NOT NULL,
	[fecharegistro] [datetime] NOT NULL,
	[UsuarioRegistroID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CatTurnos]    Script Date: 9/7/2026 11:43:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CatTurnos](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[HoraInicio] [time](7) NOT NULL,
	[HoraFin] [time](7) NOT NULL,
	[activo] [bit] NOT NULL,
	[fecharegistro] [datetime] NOT NULL,
	[UsuarioRegistroID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CatUsuarios]    Script Date: 9/7/2026 11:43:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CatUsuarios](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NoEmpleado] [varchar](20) NOT NULL,
	[Nombre] [varchar](150) NOT NULL,
	[Correo] [varchar](100) NULL,
	[RolID] [int] NOT NULL,
	[AreaID] [int] NOT NULL,
	[TurnoID] [int] NOT NULL,
	[activo] [bit] NOT NULL,
	[fecharegistro] [datetime] NOT NULL,
	[PasswordHash] [varchar](255) NULL,
	[UsuarioRegistroID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChecklistEjecuciones]    Script Date: 9/7/2026 11:43:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChecklistEjecuciones](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TemplateID] [int] NOT NULL,
	[UsuarioID] [int] NOT NULL,
	[TurnoID] [int] NOT NULL,
	[EstacionID] [int] NULL,
	[EquipoID] [int] NULL,
	[FechaEjecucion] [datetime] NOT NULL,
	[ComentarioGeneral] [varchar](1000) NULL,
	[PathEvidencia] [varchar](500) NULL,
	[activo] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChecklistEjecucionValores]    Script Date: 9/7/2026 11:43:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChecklistEjecucionValores](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[EjecucionID] [int] NOT NULL,
	[ItemID] [int] NOT NULL,
	[ValorTexto] [varchar](500) NULL,
	[ValorNumero] [decimal](10, 2) NULL,
	[ValorBoolean] [bit] NULL,
	[EstaFueraRango] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChecklistTemplateItems]    Script Date: 9/7/2026 11:43:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChecklistTemplateItems](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TemplateID] [int] NOT NULL,
	[Nombre] [varchar](250) NOT NULL,
	[TipoCampo] [varchar](50) NOT NULL,
	[ValorMinimo] [decimal](10, 2) NULL,
	[ValorMaximo] [decimal](10, 2) NULL,
	[UnidadMedida] [varchar](20) NULL,
	[OpcionesSeleccion] [varchar](500) NULL,
	[Requerido] [bit] NOT NULL,
	[Orden] [int] NOT NULL,
	[activo] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChecklistTemplates]    Script Date: 9/7/2026 11:43:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChecklistTemplates](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](150) NOT NULL,
	[Descripcion] [varchar](500) NULL,
	[TipoFrecuencia] [varchar](50) NOT NULL,
	[activo] [bit] NOT NULL,
	[fecharegistro] [datetime] NOT NULL,
	[UsuarioRegistroID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ColaNotificaciones]    Script Date: 9/7/2026 11:43:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ColaNotificaciones](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[OrdenTrabajoID] [int] NOT NULL,
	[NivelEscalacion] [int] NOT NULL,
	[Mensaje] [varchar](500) NOT NULL,
	[DestinatarioUsuarioID] [int] NOT NULL,
	[FechaEnvio] [datetime] NULL,
	[Enviado] [bit] NOT NULL,
	[activo] [bit] NOT NULL,
	[fecharegistro] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ConfiguracionEscalaciones]    Script Date: 9/7/2026 11:43:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ConfiguracionEscalaciones](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[AreaID] [int] NOT NULL,
	[ImpactoAfectacion] [varchar](150) NOT NULL,
	[TiempoLimiteMinutos] [int] NOT NULL,
	[RolNotificarID] [int] NOT NULL,
	[activo] [bit] NOT NULL,
	[fecharegistro] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DetalleTecnicosOT]    Script Date: 9/7/2026 11:43:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DetalleTecnicosOT](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[OrdenTrabajoID] [int] NOT NULL,
	[TecnicoID] [int] NOT NULL,
	[FechaAsignacion] [datetime] NOT NULL,
	[FechaArriboQR] [datetime] NULL,
	[FechaFinActividad] [datetime] NULL,
	[activo] [bit] NOT NULL,
	[fecharegistro] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EvidenciasOT]    Script Date: 9/7/2026 11:43:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EvidenciasOT](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[OrdenTrabajoID] [int] NOT NULL,
	[UsuarioID] [int] NOT NULL,
	[TipoEvidencia] [varchar](20) NOT NULL,
	[PathArchivo] [varchar](500) NOT NULL,
	[activo] [bit] NOT NULL,
	[fecharegistro] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MaterialesOT]    Script Date: 9/7/2026 11:43:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MaterialesOT](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[OrdenTrabajoID] [int] NOT NULL,
	[MaterialID] [int] NOT NULL,
	[Cantidad] [decimal](18, 2) NOT NULL,
	[UsuarioID] [int] NOT NULL,
	[activo] [bit] NOT NULL,
	[fecharegistro] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrdenesTrabajo]    Script Date: 9/7/2026 11:43:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrdenesTrabajo](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[EstacionID] [int] NOT NULL,
	[EquipoID] [int] NULL,
	[FallaRealID] [int] NULL,
	[EstadoID] [int] NOT NULL,
	[LiderReportaID] [int] NOT NULL,
	[TurnoID] [int] NOT NULL,
	[SintomaFallaLiderID] [int] NULL,
	[ClasificacionFallaLiderID] [int] NULL,
	[Causa4MID] [int] NULL,
	[AreaAfectadaImpacto] [varchar](150) NULL,
	[EmpleadosAfectados] [int] NOT NULL,
	[ComentarioLider] [varchar](1000) NULL,
	[FechaReporte] [datetime] NOT NULL,
	[TipoMantenimiento] [varchar](20) NOT NULL,
	[RutinaPreventivaID] [int] NULL,
	[activo] [bit] NOT NULL,
	[fecharegistro] [datetime] NOT NULL,
	[UsuarioRegistroID] [int] NULL,
	[FechaInicioSoporte] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProgramacionPreventivos]    Script Date: 9/7/2026 11:43:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProgramacionPreventivos](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[EquipoID] [int] NULL,
	[RutinaPreventivaID] [int] NULL,
	[FechaUltimaEjecucion] [datetime] NULL,
	[FechaProximaEjecucion] [datetime] NOT NULL,
	[activo] [bit] NOT NULL,
	[fecharegistro] [datetime] NOT NULL,
	[UsuarioRegistroID] [int] NULL,
	[EstacionID] [int] NULL,
	[LineaID] [int] NULL,
	[TecnicoID] [int] NULL,
	[OrdenTrabajoID] [int] NULL,
	[Estado] [varchar](50) NULL,
	[Titulo] [varchar](200) NULL,
	[Comentario] [varchar](max) NULL,
	[FrecuenciaDias] [int] NULL,
	[HoraInicio] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RecursosSoporte]    Script Date: 9/7/2026 11:43:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RecursosSoporte](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TipoEquipoID] [int] NOT NULL,
	[FallaComunID] [int] NULL,
	[Nombre] [varchar](150) NOT NULL,
	[TipoRecurso] [varchar](50) NOT NULL,
	[PathArchivo] [varchar](500) NOT NULL,
	[activo] [bit] NOT NULL,
	[fecharegistro] [datetime] NOT NULL,
	[UsuarioRegistroID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RegistroPausasOT]    Script Date: 9/7/2026 11:43:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RegistroPausasOT](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[OrdenTrabajoID] [int] NOT NULL,
	[MotivoPausaID] [int] NOT NULL,
	[UsuarioPausaID] [int] NOT NULL,
	[FechaInicioPausa] [datetime] NOT NULL,
	[FechaFinPausa] [datetime] NULL,
	[Comentario] [varchar](500) NULL,
	[activo] [bit] NOT NULL,
	[fecharegistro] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[BitacoraEstadosOT] ON 

INSERT [dbo].[BitacoraEstadosOT] ([ID], [OrdenTrabajoID], [EstadoAnteriorID], [EstadoNuevoID], [UsuarioID], [FechaCambio], [Comentario], [activo], [fecharegistro]) VALUES (3, 3, NULL, 1, 1, CAST(N'2026-07-18T21:46:21.607' AS DateTime), N'OT Correctiva creada.', 1, CAST(N'2026-07-18T21:46:21.607' AS DateTime))
INSERT [dbo].[BitacoraEstadosOT] ([ID], [OrdenTrabajoID], [EstadoAnteriorID], [EstadoNuevoID], [UsuarioID], [FechaCambio], [Comentario], [activo], [fecharegistro]) VALUES (7, 7, NULL, 1, 1, CAST(N'2026-07-18T22:01:34.433' AS DateTime), N'OT Correctiva creada.', 1, CAST(N'2026-07-18T22:01:34.433' AS DateTime))
INSERT [dbo].[BitacoraEstadosOT] ([ID], [OrdenTrabajoID], [EstadoAnteriorID], [EstadoNuevoID], [UsuarioID], [FechaCambio], [Comentario], [activo], [fecharegistro]) VALUES (8, 8, NULL, 1, 1, CAST(N'2026-07-18T22:03:59.950' AS DateTime), N'OT Correctiva creada.', 1, CAST(N'2026-07-18T22:03:59.950' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[BitacoraEstadosOT] OFF
GO
SET IDENTITY_INSERT [dbo].[CatAreas] ON 

INSERT [dbo].[CatAreas] ([ID], [Nombre], [Descripcion], [activo], [fecharegistro], [UsuarioRegistroID]) VALUES (1, N'Administracion', N'Area administrativa central de la planta', 0, CAST(N'2026-07-06T22:21:24.203' AS DateTime), NULL)
INSERT [dbo].[CatAreas] ([ID], [Nombre], [Descripcion], [activo], [fecharegistro], [UsuarioRegistroID]) VALUES (2, N'SMT', N'Area de SMT', 1, CAST(N'2026-07-13T11:25:46.317' AS DateTime), NULL)
INSERT [dbo].[CatAreas] ([ID], [Nombre], [Descripcion], [activo], [fecharegistro], [UsuarioRegistroID]) VALUES (3, N'FA - HMI', N'Seccion HMI de FA', 1, CAST(N'2026-07-13T11:26:30.127' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[CatAreas] OFF
GO
SET IDENTITY_INSERT [dbo].[CatCausas4M] ON 

INSERT [dbo].[CatCausas4M] ([ID], [Nombre], [Descripcion], [activo], [fecharegistro], [UsuarioRegistroID]) VALUES (1, N'Hombre', N'Causas relacionadas al factor humano', 1, CAST(N'2026-07-17T16:27:06.043' AS DateTime), 1)
INSERT [dbo].[CatCausas4M] ([ID], [Nombre], [Descripcion], [activo], [fecharegistro], [UsuarioRegistroID]) VALUES (2, N'Maquina', N'Causas relacionadas a las maquinas', 1, CAST(N'2026-07-17T16:27:06.043' AS DateTime), 1)
INSERT [dbo].[CatCausas4M] ([ID], [Nombre], [Descripcion], [activo], [fecharegistro], [UsuarioRegistroID]) VALUES (3, N'Metodo', N'Causas relaciadas al metodo de trabajo', 1, CAST(N'2026-07-17T16:27:06.043' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[CatCausas4M] OFF
GO
SET IDENTITY_INSERT [dbo].[CatClasificacionesFallaLider] ON 

INSERT [dbo].[CatClasificacionesFallaLider] ([ID], [Nombre], [Descripcion], [activo], [fecharegistro], [UsuarioRegistroID], [Causa4MsID]) VALUES (1, N'Personal en Entto.', N'PE', 1, CAST(N'2026-07-17T23:22:21.320' AS DateTime), 1, 1)
INSERT [dbo].[CatClasificacionesFallaLider] ([ID], [Nombre], [Descripcion], [activo], [fecharegistro], [UsuarioRegistroID], [Causa4MsID]) VALUES (2, N'Falta Personal', N'Falta de personal', 1, CAST(N'2026-07-18T17:48:39.130' AS DateTime), 1, 1)
INSERT [dbo].[CatClasificacionesFallaLider] ([ID], [Nombre], [Descripcion], [activo], [fecharegistro], [UsuarioRegistroID], [Causa4MsID]) VALUES (3, N'Software', N'Falla del sistema', 1, CAST(N'2026-07-18T17:48:39.130' AS DateTime), 1, 2)
SET IDENTITY_INSERT [dbo].[CatClasificacionesFallaLider] OFF
GO
SET IDENTITY_INSERT [dbo].[CatEquipos] ON 

INSERT [dbo].[CatEquipos] ([ID], [EstacionID], [TipoEquipoID], [Nombre], [Modelo], [NumeroSerie], [activo], [fecharegistro], [UsuarioRegistroID], [CodigoQR]) VALUES (1, 7, 1, N'PLC001', N'KEYENCE001', N'PLCKEY001', 1, CAST(N'2026-07-19T14:32:54.013' AS DateTime), 1, N'EQ-PLC-002')
INSERT [dbo].[CatEquipos] ([ID], [EstacionID], [TipoEquipoID], [Nombre], [Modelo], [NumeroSerie], [activo], [fecharegistro], [UsuarioRegistroID], [CodigoQR]) VALUES (2, 12, 3, N'Robot Kuka K1', N'KR 16', N'SN-KUKA-001', 1, CAST(N'2026-07-19T15:17:04.383' AS DateTime), 1, N'EQ-KUKA-001')
INSERT [dbo].[CatEquipos] ([ID], [EstacionID], [TipoEquipoID], [Nombre], [Modelo], [NumeroSerie], [activo], [fecharegistro], [UsuarioRegistroID], [CodigoQR]) VALUES (3, 7, 2, N'PC Control EMMC', N'OptiPlex 7080', N'SN-PC-001', 1, CAST(N'2026-07-19T15:17:04.390' AS DateTime), 1, N'EQ-PC-001')
SET IDENTITY_INSERT [dbo].[CatEquipos] OFF
GO
SET IDENTITY_INSERT [dbo].[CatEstaciones] ON 

INSERT [dbo].[CatEstaciones] ([ID], [LineaID], [Nombre], [CodigoQR], [activo], [fecharegistro], [UsuarioRegistroID]) VALUES (1, 1, N'FTQ', N'QR-FTQ', 0, CAST(N'2026-07-13T21:36:22.103' AS DateTime), 1)
INSERT [dbo].[CatEstaciones] ([ID], [LineaID], [Nombre], [CodigoQR], [activo], [fecharegistro], [UsuarioRegistroID]) VALUES (2, 1, N'EMMC', N'QR-EMMC', 0, CAST(N'2026-07-14T20:13:43.837' AS DateTime), 1)
INSERT [dbo].[CatEstaciones] ([ID], [LineaID], [Nombre], [CodigoQR], [activo], [fecharegistro], [UsuarioRegistroID]) VALUES (3, 10, N'Flash', N'QR-FLASH-10', 1, CAST(N'2026-07-14T21:01:25.120' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[CatEstaciones] OFF
GO
SET IDENTITY_INSERT [dbo].[CatEstadosOT] ON 

INSERT [dbo].[CatEstadosOT] ([ID], [Nombre], [Descripcion], [activo], [fecharegistro], [UsuarioRegistroID]) VALUES (1, N'CREATED', N'OT Creada', 1, CAST(N'2026-07-17T17:03:54.197' AS DateTime), 1)
INSERT [dbo].[CatEstadosOT] ([ID], [Nombre], [Descripcion], [activo], [fecharegistro], [UsuarioRegistroID]) VALUES (2, N'ONGOING', N'OT En Proceso', 1, CAST(N'2026-07-17T17:03:54.197' AS DateTime), 1)
INSERT [dbo].[CatEstadosOT] ([ID], [Nombre], [Descripcion], [activo], [fecharegistro], [UsuarioRegistroID]) VALUES (3, N'STOPPED', N'OT Detenida', 1, CAST(N'2026-07-17T17:03:54.197' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[CatEstadosOT] OFF
GO
SET IDENTITY_INSERT [dbo].[CatFallasComunes] ON 

INSERT [dbo].[CatFallasComunes] ([ID], [TipoEquipoID], [CodigoFalla], [Nombre], [Descripcion], [activo], [fecharegistro], [UsuarioRegistroID]) VALUES (1, 2, N'PC-FM-A001', N'PC Ciclada', N'La PC no responde', 1, CAST(N'2026-07-17T21:44:43.527' AS DateTime), 1)
INSERT [dbo].[CatFallasComunes] ([ID], [TipoEquipoID], [CodigoFalla], [Nombre], [Descripcion], [activo], [fecharegistro], [UsuarioRegistroID]) VALUES (2, 1, N'PLC-FM-A001', N'PLC-CICLADO', N'PLC CICLADO', 1, CAST(N'2026-07-19T15:12:33.917' AS DateTime), 1)
INSERT [dbo].[CatFallasComunes] ([ID], [TipoEquipoID], [CodigoFalla], [Nombre], [Descripcion], [activo], [fecharegistro], [UsuarioRegistroID]) VALUES (3, 3, N'ROB-FM-001', N'Descalibración de Cero / Home', N'Eje Z desfasado provocando paro de emergencia', 1, CAST(N'2026-07-26T17:51:41.713' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[CatFallasComunes] OFF
GO
SET IDENTITY_INSERT [dbo].[CatLineas] ON 

INSERT [dbo].[CatLineas] ([ID], [AreaID], [Nombre], [activo], [fecharegistro], [UsuarioRegistroID]) VALUES (1, 3, N'21MM L1', 1, CAST(N'2026-07-13T11:26:55.420' AS DateTime), 1)
INSERT [dbo].[CatLineas] ([ID], [AreaID], [Nombre], [activo], [fecharegistro], [UsuarioRegistroID]) VALUES (2, 3, N'24MM L1', 1, CAST(N'2026-07-13T11:43:31.837' AS DateTime), 1)
INSERT [dbo].[CatLineas] ([ID], [AreaID], [Nombre], [activo], [fecharegistro], [UsuarioRegistroID]) VALUES (3, 3, N'21MM L2', 1, CAST(N'2026-07-13T21:30:03.447' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[CatLineas] OFF
GO
SET IDENTITY_INSERT [dbo].[CatModosFallaReal] ON 

INSERT [dbo].[CatModosFallaReal] ([ID], [TipoEquipoID], [CodigoFalla], [Nombre], [Descripcion], [activo], [fecharegistro], [UsuarioRegistroID]) VALUES (1, 2, N'PC-FM-A001', N'Pantallazo Azul', N'Sistema Operativo muestra una pantalla azul al iniciar windows', 1, CAST(N'2026-07-17T21:10:08.543' AS DateTime), 1)
INSERT [dbo].[CatModosFallaReal] ([ID], [TipoEquipoID], [CodigoFalla], [Nombre], [Descripcion], [activo], [fecharegistro], [UsuarioRegistroID]) VALUES (2, 2, N'PC-FM-A002', N'IP Duplicada', N'Perdida de red', 1, CAST(N'2026-07-17T21:10:45.720' AS DateTime), 1)
INSERT [dbo].[CatModosFallaReal] ([ID], [TipoEquipoID], [CodigoFalla], [Nombre], [Descripcion], [activo], [fecharegistro], [UsuarioRegistroID]) VALUES (3, 1, N'PLC-FM-A001', N'CICLADO', N'PLC CICLADO', 1, CAST(N'2026-07-19T15:11:51.740' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[CatModosFallaReal] OFF
GO
SET IDENTITY_INSERT [dbo].[CatMotivosPausa] ON 

INSERT [dbo].[CatMotivosPausa] ([ID], [Nombre], [Descripcion], [activo], [fecharegistro], [UsuarioRegistroID]) VALUES (1, N'falta Material', N'Falta de material', 1, CAST(N'2026-07-19T17:05:11.363' AS DateTime), 1)
INSERT [dbo].[CatMotivosPausa] ([ID], [Nombre], [Descripcion], [activo], [fecharegistro], [UsuarioRegistroID]) VALUES (2, N'Descanso', N'Descanso', 1, CAST(N'2026-07-19T17:05:11.363' AS DateTime), 1)
INSERT [dbo].[CatMotivosPausa] ([ID], [Nombre], [Descripcion], [activo], [fecharegistro], [UsuarioRegistroID]) VALUES (3, N'En espera Herramienta', N'En espera de herramienta', 1, CAST(N'2026-07-19T17:06:13.243' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[CatMotivosPausa] OFF
GO
SET IDENTITY_INSERT [dbo].[CatRoles] ON 

INSERT [dbo].[CatRoles] ([ID], [Nombre], [Descripcion], [activo], [fecharegistro], [UsuarioRegistroID]) VALUES (1, N'Administrador', N'Rol de administracion y configuracion del sistema', 1, CAST(N'2026-07-06T22:21:24.207' AS DateTime), NULL)
INSERT [dbo].[CatRoles] ([ID], [Nombre], [Descripcion], [activo], [fecharegistro], [UsuarioRegistroID]) VALUES (2, N'Supervisor', N'Supervisor de area', 1, CAST(N'2026-07-13T11:24:23.087' AS DateTime), NULL)
INSERT [dbo].[CatRoles] ([ID], [Nombre], [Descripcion], [activo], [fecharegistro], [UsuarioRegistroID]) VALUES (3, N'Ingeniero', N'supervisa a los tecnicos', 1, CAST(N'2026-07-13T21:32:55.103' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[CatRoles] OFF
GO
SET IDENTITY_INSERT [dbo].[CatRutinasPreventivas] ON 

INSERT [dbo].[CatRutinasPreventivas] ([ID], [TipoEquipoID], [Nombre], [Descripcion], [FrecuenciaDias], [activo], [fecharegistro]) VALUES (1, 1, N'Inspección General y Limpieza de Sensores', N'Limpieza profunda de componentes ópticos, soplado y revisión de alineación.', 7, 1, CAST(N'2026-07-21T21:37:26.003' AS DateTime))
INSERT [dbo].[CatRutinasPreventivas] ([ID], [TipoEquipoID], [Nombre], [Descripcion], [FrecuenciaDias], [activo], [fecharegistro]) VALUES (2, 1, N'Lubricación de Cadenas y Rodamientos', N'Aplicación de lubricante de alta viscoosidad en guías, bandas y rodamientos.', 15, 1, CAST(N'2026-07-21T21:37:26.047' AS DateTime))
INSERT [dbo].[CatRutinasPreventivas] ([ID], [TipoEquipoID], [Nombre], [Descripcion], [FrecuenciaDias], [activo], [fecharegistro]) VALUES (3, 1, N'Revisión Neumática y Fugas de Aire', N'Inspección de conexiones neumáticas, cambio de empaques y purga de filtro.', 30, 1, CAST(N'2026-07-21T21:37:26.047' AS DateTime))
SET IDENTITY_INSERT [dbo].[CatRutinasPreventivas] OFF
GO
SET IDENTITY_INSERT [dbo].[CatSintomasFallaLider] ON 

INSERT [dbo].[CatSintomasFallaLider] ([ID], [Nombre], [Descripcion], [activo], [fecharegistro], [UsuarioRegistroID]) VALUES (1, N'PC No Responde', N'La PC no responde', 1, CAST(N'2026-07-17T23:21:23.867' AS DateTime), 1)
INSERT [dbo].[CatSintomasFallaLider] ([ID], [Nombre], [Descripcion], [activo], [fecharegistro], [UsuarioRegistroID]) VALUES (2, N'Robot no cicla', N'Robot detenido a mitad de secuencia o fuera de home', 1, CAST(N'2026-07-26T17:51:41.657' AS DateTime), 1)
INSERT [dbo].[CatSintomasFallaLider] ([ID], [Nombre], [Descripcion], [activo], [fecharegistro], [UsuarioRegistroID]) VALUES (3, N'Fuga de aire neumático', N'Pérdida de presión neumática en manguera o conector', 1, CAST(N'2026-07-26T17:51:41.660' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[CatSintomasFallaLider] OFF
GO
SET IDENTITY_INSERT [dbo].[CatSolucionesComunes] ON 

INSERT [dbo].[CatSolucionesComunes] ([ID], [FallaComunID], [Nombre], [Descripcion], [activo], [fecharegistro], [UsuarioRegistroID]) VALUES (1, 1, N'Reinicio de PC', N'La PC se reinicia para quitar lo ciclado y que responda', 1, CAST(N'2026-07-17T21:46:20.903' AS DateTime), 1)
INSERT [dbo].[CatSolucionesComunes] ([ID], [FallaComunID], [Nombre], [Descripcion], [activo], [fecharegistro], [UsuarioRegistroID]) VALUES (2, 2, N'RESTART PLC', N'REINICIAR PLC', 1, CAST(N'2026-07-19T15:12:51.160' AS DateTime), 1)
INSERT [dbo].[CatSolucionesComunes] ([ID], [FallaComunID], [Nombre], [Descripcion], [activo], [fecharegistro], [UsuarioRegistroID]) VALUES (3, 1, N'Solucion de Prueba', N'Descripcion de Prueba', 1, CAST(N'2026-07-19T18:21:35.753' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[CatSolucionesComunes] OFF
GO
SET IDENTITY_INSERT [dbo].[CatTiposEquipo] ON 

INSERT [dbo].[CatTiposEquipo] ([ID], [Nombre], [Descripcion], [activo], [fecharegistro], [UsuarioRegistroID]) VALUES (1, N'PLC', N'PLC', 1, CAST(N'2026-07-14T19:46:26.910' AS DateTime), NULL)
INSERT [dbo].[CatTiposEquipo] ([ID], [Nombre], [Descripcion], [activo], [fecharegistro], [UsuarioRegistroID]) VALUES (2, N'PC', N'', 1, CAST(N'2026-07-14T20:13:52.163' AS DateTime), 1)
INSERT [dbo].[CatTiposEquipo] ([ID], [Nombre], [Descripcion], [activo], [fecharegistro], [UsuarioRegistroID]) VALUES (3, N'ROBOT DE ATORNILLADO', N'', 1, CAST(N'2026-07-14T20:14:06.380' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[CatTiposEquipo] OFF
GO
SET IDENTITY_INSERT [dbo].[CatTurnos] ON 

INSERT [dbo].[CatTurnos] ([ID], [Nombre], [HoraInicio], [HoraFin], [activo], [fecharegistro], [UsuarioRegistroID]) VALUES (1, N'Administrativo', CAST(N'08:00:00' AS Time), CAST(N'17:00:00' AS Time), 0, CAST(N'2026-07-06T22:21:24.203' AS DateTime), 1)
INSERT [dbo].[CatTurnos] ([ID], [Nombre], [HoraInicio], [HoraFin], [activo], [fecharegistro], [UsuarioRegistroID]) VALUES (2, N'1ro', CAST(N'07:54:00' AS Time), CAST(N'17:30:00' AS Time), 1, CAST(N'2026-07-13T11:25:08.653' AS DateTime), 1)
INSERT [dbo].[CatTurnos] ([ID], [Nombre], [HoraInicio], [HoraFin], [activo], [fecharegistro], [UsuarioRegistroID]) VALUES (3, N'A8', CAST(N'06:30:00' AS Time), CAST(N'14:30:00' AS Time), 1, CAST(N'2026-07-13T21:34:20.460' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[CatTurnos] OFF
GO
SET IDENTITY_INSERT [dbo].[CatUsuarios] ON 

INSERT [dbo].[CatUsuarios] ([ID], [NoEmpleado], [Nombre], [Correo], [RolID], [AreaID], [TurnoID], [activo], [fecharegistro], [PasswordHash], [UsuarioRegistroID]) VALUES (1, N'9999', N'Administrador CMMS', N'admin@mts.com', 1, 1, 1, 1, CAST(N'2026-07-06T22:21:24.220' AS DateTime), N'scrypt:32768:8:1$cMHckdOZUZVNf1Q4$9110fbaf63cdfc0c8c7fe00cf5717a350b607a22c1fee781a653878cf28447782b95eae027e7607c84ae1ddeea092326fc7281f29a98b8314e2885d942d5ae07', NULL)
INSERT [dbo].[CatUsuarios] ([ID], [NoEmpleado], [Nombre], [Correo], [RolID], [AreaID], [TurnoID], [activo], [fecharegistro], [PasswordHash], [UsuarioRegistroID]) VALUES (2, N'1111', N'es 4 veces 1', N'1234@mail.com', 3, 3, 3, 1, CAST(N'2026-07-13T11:18:06.173' AS DateTime), N'scrypt:32768:8:1$E2amxXV4CqJwqUyO$804670666c8fff17e1534dc003af11927efee187cc95f3bd7486da3e3787e68500172540617c2c3b9a015a9ef311d038e07cf7e3397bc757fb3586af4ee12878', NULL)
INSERT [dbo].[CatUsuarios] ([ID], [NoEmpleado], [Nombre], [Correo], [RolID], [AreaID], [TurnoID], [activo], [fecharegistro], [PasswordHash], [UsuarioRegistroID]) VALUES (3, N'9001', N'Carlos Mendoza', N'carlos.mendoza@cmms.com', 1, 2, 2, 1, CAST(N'2026-07-26T17:51:42.033' AS DateTime), N'scrypt:32768:8:1$lCtZaNv7NgGcU4t3$a532014e10ed402f62a39454e5d5285487457da81c2e1406d4dbc0785de3d11a91d83aabd0566c414951fd148e1c56eaa97212f4c91616ecde22049f7e6f137c', 1)
SET IDENTITY_INSERT [dbo].[CatUsuarios] OFF
GO
SET IDENTITY_INSERT [dbo].[ChecklistEjecuciones] ON 

INSERT [dbo].[ChecklistEjecuciones] ([ID], [TemplateID], [UsuarioID], [TurnoID], [EstacionID], [EquipoID], [FechaEjecucion], [ComentarioGeneral], [PathEvidencia], [activo]) VALUES (1, 1, 1, 2, 1, 1, CAST(N'2026-08-12T21:17:36.763' AS DateTime), N'Prueba de llenado con presión baja (alerta)', N'checklists/test_evidencia.jpg', 1)
SET IDENTITY_INSERT [dbo].[ChecklistEjecuciones] OFF
GO
SET IDENTITY_INSERT [dbo].[ChecklistEjecucionValores] ON 

INSERT [dbo].[ChecklistEjecucionValores] ([ID], [EjecucionID], [ItemID], [ValorTexto], [ValorNumero], [ValorBoolean], [EstaFueraRango]) VALUES (1, 1, 1, NULL, CAST(75.00 AS Decimal(10, 2)), NULL, 1)
INSERT [dbo].[ChecklistEjecucionValores] ([ID], [EjecucionID], [ItemID], [ValorTexto], [ValorNumero], [ValorBoolean], [EstaFueraRango]) VALUES (2, 1, 2, NULL, NULL, 0, 1)
INSERT [dbo].[ChecklistEjecucionValores] ([ID], [EjecucionID], [ItemID], [ValorTexto], [ValorNumero], [ValorBoolean], [EstaFueraRango]) VALUES (3, 1, 3, N'Alto', NULL, NULL, 0)
SET IDENTITY_INSERT [dbo].[ChecklistEjecucionValores] OFF
GO
SET IDENTITY_INSERT [dbo].[ChecklistTemplateItems] ON 

INSERT [dbo].[ChecklistTemplateItems] ([ID], [TemplateID], [Nombre], [TipoCampo], [ValorMinimo], [ValorMaximo], [UnidadMedida], [OpcionesSeleccion], [Requerido], [Orden], [activo]) VALUES (1, 1, N'Presion de Linea', N'number', CAST(80.00 AS Decimal(10, 2)), CAST(120.00 AS Decimal(10, 2)), N'psi', NULL, 1, 0, 1)
INSERT [dbo].[ChecklistTemplateItems] ([ID], [TemplateID], [Nombre], [TipoCampo], [ValorMinimo], [ValorMaximo], [UnidadMedida], [OpcionesSeleccion], [Requerido], [Orden], [activo]) VALUES (2, 1, N'Fugas de Aire', N'boolean', NULL, NULL, NULL, NULL, 1, 1, 1)
INSERT [dbo].[ChecklistTemplateItems] ([ID], [TemplateID], [Nombre], [TipoCampo], [ValorMinimo], [ValorMaximo], [UnidadMedida], [OpcionesSeleccion], [Requerido], [Orden], [activo]) VALUES (3, 1, N'Nivel de Aceite', N'select', NULL, NULL, NULL, N'Bajo, Medio, Alto', 1, 2, 1)
SET IDENTITY_INSERT [dbo].[ChecklistTemplateItems] OFF
GO
SET IDENTITY_INSERT [dbo].[ChecklistTemplates] ON 

INSERT [dbo].[ChecklistTemplates] ([ID], [Nombre], [Descripcion], [TipoFrecuencia], [activo], [fecharegistro], [UsuarioRegistroID]) VALUES (1, N'Compresores Diarios', N'Chequeo de presión y nivel de aceite', N'Turno', 1, CAST(N'2026-08-12T21:17:36.737' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[ChecklistTemplates] OFF
GO
SET IDENTITY_INSERT [dbo].[DetalleTecnicosOT] ON 

INSERT [dbo].[DetalleTecnicosOT] ([ID], [OrdenTrabajoID], [TecnicoID], [FechaAsignacion], [FechaArriboQR], [FechaFinActividad], [activo], [fecharegistro]) VALUES (1, 11, 1, CAST(N'2026-07-19T19:52:57.623' AS DateTime), CAST(N'2026-07-19T19:52:57.623' AS DateTime), CAST(N'2026-07-19T19:53:36.167' AS DateTime), 1, CAST(N'2026-07-19T19:52:57.623' AS DateTime))
INSERT [dbo].[DetalleTecnicosOT] ([ID], [OrdenTrabajoID], [TecnicoID], [FechaAsignacion], [FechaArriboQR], [FechaFinActividad], [activo], [fecharegistro]) VALUES (4, 14, 1, CAST(N'2026-07-21T21:40:04.267' AS DateTime), NULL, CAST(N'2026-07-21T21:40:04.330' AS DateTime), 1, CAST(N'2026-07-21T21:40:04.267' AS DateTime))
INSERT [dbo].[DetalleTecnicosOT] ([ID], [OrdenTrabajoID], [TecnicoID], [FechaAsignacion], [FechaArriboQR], [FechaFinActividad], [activo], [fecharegistro]) VALUES (5, 15, 1, CAST(N'2026-07-21T21:40:04.360' AS DateTime), NULL, NULL, 1, CAST(N'2026-07-21T21:40:04.360' AS DateTime))
SET IDENTITY_INSERT [dbo].[DetalleTecnicosOT] OFF
GO
SET IDENTITY_INSERT [dbo].[EvidenciasOT] ON 

INSERT [dbo].[EvidenciasOT] ([ID], [OrdenTrabajoID], [UsuarioID], [TipoEvidencia], [PathArchivo], [activo], [fecharegistro]) VALUES (1, 3, 1, N'FALLA', N'ot_3_falla_Picture1.png', 1, CAST(N'2026-07-19T14:33:15.267' AS DateTime))
INSERT [dbo].[EvidenciasOT] ([ID], [OrdenTrabajoID], [UsuarioID], [TipoEvidencia], [PathArchivo], [activo], [fecharegistro]) VALUES (2, 3, 1, N'FALLA', N'ot_3_falla_Picture3.png', 1, CAST(N'2026-07-19T17:52:58.810' AS DateTime))
INSERT [dbo].[EvidenciasOT] ([ID], [OrdenTrabajoID], [UsuarioID], [TipoEvidencia], [PathArchivo], [activo], [fecharegistro]) VALUES (3, 8, 1, N'FALLA', N'ot_8_falla_camera_capture.jpg', 1, CAST(N'2026-07-19T18:08:20.297' AS DateTime))
SET IDENTITY_INSERT [dbo].[EvidenciasOT] OFF
GO
SET IDENTITY_INSERT [dbo].[OrdenesTrabajo] ON 

SET IDENTITY_INSERT [dbo].[OrdenesTrabajo] OFF
GO
SET IDENTITY_INSERT [dbo].[ProgramacionPreventivos] ON 

INSERT [dbo].[ProgramacionPreventivos] ([ID], [EquipoID], [RutinaPreventivaID], [FechaUltimaEjecucion], [FechaProximaEjecucion], [activo], [fecharegistro], [UsuarioRegistroID], [EstacionID], [LineaID], [TecnicoID], [OrdenTrabajoID], [Estado], [Titulo], [Comentario], [FrecuenciaDias], [HoraInicio]) VALUES (1, 1, 1, NULL, CAST(N'2026-08-01T00:00:00.000' AS DateTime), 1, CAST(N'2026-07-21T21:38:20.420' AS DateTime), 1, 7, 1, 1, NULL, N'PROGRAMADA', N'Prueba PM Recurrente E2E', N'Instrucciones de prueba automatizada.', 7, N'09:00')
INSERT [dbo].[ProgramacionPreventivos] ([ID], [EquipoID], [RutinaPreventivaID], [FechaUltimaEjecucion], [FechaProximaEjecucion], [activo], [fecharegistro], [UsuarioRegistroID], [EstacionID], [LineaID], [TecnicoID], [OrdenTrabajoID], [Estado], [Titulo], [Comentario], [FrecuenciaDias], [HoraInicio]) VALUES (5, NULL, NULL, NULL, CAST(N'2026-07-21T21:39:22.987' AS DateTime), 0, CAST(N'2026-07-21T21:39:22.987' AS DateTime), NULL, NULL, 1, NULL, NULL, N'PROGRAMADA', NULL, NULL, 0, N'08:00')
INSERT [dbo].[ProgramacionPreventivos] ([ID], [EquipoID], [RutinaPreventivaID], [FechaUltimaEjecucion], [FechaProximaEjecucion], [activo], [fecharegistro], [UsuarioRegistroID], [EstacionID], [LineaID], [TecnicoID], [OrdenTrabajoID], [Estado], [Titulo], [Comentario], [FrecuenciaDias], [HoraInicio]) VALUES (6, NULL, NULL, NULL, CAST(N'2026-07-21T21:39:38.537' AS DateTime), 0, CAST(N'2026-07-21T21:39:38.537' AS DateTime), NULL, NULL, 1, NULL, NULL, N'PROGRAMADA', NULL, NULL, 0, N'08:00')
SET IDENTITY_INSERT [dbo].[ProgramacionPreventivos] OFF
GO
SET IDENTITY_INSERT [dbo].[RecursosSoporte] ON 

INSERT [dbo].[RecursosSoporte] ([ID], [TipoEquipoID], [FallaComunID], [Nombre], [TipoRecurso], [PathArchivo], [activo], [fecharegistro], [UsuarioRegistroID]) VALUES (1, 2, 1, N'Restart PC', N'Ayuda Visual', N'1784345792_OfficeInstructions_1.pdf', 1, CAST(N'2026-07-17T22:36:32.270' AS DateTime), 1)
INSERT [dbo].[RecursosSoporte] ([ID], [TipoEquipoID], [FallaComunID], [Nombre], [TipoRecurso], [PathArchivo], [activo], [fecharegistro], [UsuarioRegistroID]) VALUES (2, 7, 8, N'WI', N'WI', N'1785117954_OfficeInstructions.pdf', 1, CAST(N'2026-07-26T21:05:54.960' AS DateTime), 1)
INSERT [dbo].[RecursosSoporte] ([ID], [TipoEquipoID], [FallaComunID], [Nombre], [TipoRecurso], [PathArchivo], [activo], [fecharegistro], [UsuarioRegistroID]) VALUES (3, 8, 9, N'WI', N'WI', N'1785117954_OfficeInstructions.pdf', 1, CAST(N'2026-07-26T21:05:54.960' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[RecursosSoporte] OFF
GO
SET IDENTITY_INSERT [dbo].[RegistroPausasOT] ON 

INSERT [dbo].[RegistroPausasOT] ([ID], [OrdenTrabajoID], [MotivoPausaID], [UsuarioPausaID], [FechaInicioPausa], [FechaFinPausa], [Comentario], [activo], [fecharegistro]) VALUES (1, 3, 4, 1, CAST(N'2026-07-19T17:06:29.780' AS DateTime), CAST(N'2026-07-19T17:52:25.350' AS DateTime), N'en espera de personal tecnico', 1, CAST(N'2026-07-19T17:06:29.780' AS DateTime))
INSERT [dbo].[RegistroPausasOT] ([ID], [OrdenTrabajoID], [MotivoPausaID], [UsuarioPausaID], [FechaInicioPausa], [FechaFinPausa], [Comentario], [activo], [fecharegistro]) VALUES (2, 8, 3, 1, CAST(N'2026-07-19T19:23:11.457' AS DateTime), NULL, N'tst', 1, CAST(N'2026-07-19T19:23:11.457' AS DateTime))
INSERT [dbo].[RegistroPausasOT] ([ID], [OrdenTrabajoID], [MotivoPausaID], [UsuarioPausaID], [FechaInicioPausa], [FechaFinPausa], [Comentario], [activo], [fecharegistro]) VALUES (3, 22, 1, 1, CAST(N'2026-07-23T21:16:08.313' AS DateTime), CAST(N'2026-07-23T21:16:08.347' AS DateTime), N'Pausa de prueba', 1, CAST(N'2026-07-23T21:16:08.313' AS DateTime))
SET IDENTITY_INSERT [dbo].[RegistroPausasOT] OFF
GO
ALTER TABLE [dbo].[BitacoraEstadosOT] ADD  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [dbo].[BitacoraEstadosOT] ADD  DEFAULT (getdate()) FOR [fecharegistro]
GO
ALTER TABLE [dbo].[BitacoraTransferenciasOT] ADD  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [dbo].[BitacoraTransferenciasOT] ADD  DEFAULT (getdate()) FOR [fecharegistro]
GO
ALTER TABLE [dbo].[CatAreas] ADD  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [dbo].[CatAreas] ADD  DEFAULT (getdate()) FOR [fecharegistro]
GO
ALTER TABLE [dbo].[CatCausas4M] ADD  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [dbo].[CatCausas4M] ADD  DEFAULT (getdate()) FOR [fecharegistro]
GO
ALTER TABLE [dbo].[CatClasificacionesFallaLider] ADD  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [dbo].[CatClasificacionesFallaLider] ADD  DEFAULT (getdate()) FOR [fecharegistro]
GO
ALTER TABLE [dbo].[CatEquipos] ADD  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [dbo].[CatEquipos] ADD  DEFAULT (getdate()) FOR [fecharegistro]
GO
ALTER TABLE [dbo].[CatEstaciones] ADD  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [dbo].[CatEstaciones] ADD  DEFAULT (getdate()) FOR [fecharegistro]
GO
ALTER TABLE [dbo].[CatEstadosOT] ADD  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [dbo].[CatEstadosOT] ADD  DEFAULT (getdate()) FOR [fecharegistro]
GO
ALTER TABLE [dbo].[CatFallasComunes] ADD  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [dbo].[CatFallasComunes] ADD  DEFAULT (getdate()) FOR [fecharegistro]
GO
ALTER TABLE [dbo].[CatLineas] ADD  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [dbo].[CatLineas] ADD  DEFAULT (getdate()) FOR [fecharegistro]
GO
ALTER TABLE [dbo].[CatMateriales] ADD  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [dbo].[CatMateriales] ADD  DEFAULT (getdate()) FOR [fecharegistro]
GO
ALTER TABLE [dbo].[CatModosFallaReal] ADD  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [dbo].[CatModosFallaReal] ADD  DEFAULT (getdate()) FOR [fecharegistro]
GO
ALTER TABLE [dbo].[CatMotivosPausa] ADD  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [dbo].[CatMotivosPausa] ADD  DEFAULT (getdate()) FOR [fecharegistro]
GO
ALTER TABLE [dbo].[CatRoles] ADD  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [dbo].[CatRoles] ADD  DEFAULT (getdate()) FOR [fecharegistro]
GO
ALTER TABLE [dbo].[CatRutinasPreventivas] ADD  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [dbo].[CatRutinasPreventivas] ADD  DEFAULT (getdate()) FOR [fecharegistro]
GO
ALTER TABLE [dbo].[CatSintomasFallaLider] ADD  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [dbo].[CatSintomasFallaLider] ADD  DEFAULT (getdate()) FOR [fecharegistro]
GO
ALTER TABLE [dbo].[CatSolucionesComunes] ADD  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [dbo].[CatSolucionesComunes] ADD  DEFAULT (getdate()) FOR [fecharegistro]
GO
ALTER TABLE [dbo].[CatTiposEquipo] ADD  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [dbo].[CatTiposEquipo] ADD  DEFAULT (getdate()) FOR [fecharegistro]
GO
ALTER TABLE [dbo].[CatTurnos] ADD  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [dbo].[CatTurnos] ADD  DEFAULT (getdate()) FOR [fecharegistro]
GO
ALTER TABLE [dbo].[CatUsuarios] ADD  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [dbo].[CatUsuarios] ADD  DEFAULT (getdate()) FOR [fecharegistro]
GO
ALTER TABLE [dbo].[ChecklistEjecuciones] ADD  DEFAULT (getdate()) FOR [FechaEjecucion]
GO
ALTER TABLE [dbo].[ChecklistEjecuciones] ADD  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [dbo].[ChecklistEjecucionValores] ADD  DEFAULT ((0)) FOR [EstaFueraRango]
GO
ALTER TABLE [dbo].[ChecklistTemplateItems] ADD  DEFAULT ((1)) FOR [Requerido]
GO
ALTER TABLE [dbo].[ChecklistTemplateItems] ADD  DEFAULT ((0)) FOR [Orden]
GO
ALTER TABLE [dbo].[ChecklistTemplateItems] ADD  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [dbo].[ChecklistTemplates] ADD  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [dbo].[ChecklistTemplates] ADD  DEFAULT (getdate()) FOR [fecharegistro]
GO
ALTER TABLE [dbo].[ColaNotificaciones] ADD  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [dbo].[ColaNotificaciones] ADD  DEFAULT (getdate()) FOR [fecharegistro]
GO
ALTER TABLE [dbo].[ConfiguracionEscalaciones] ADD  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [dbo].[ConfiguracionEscalaciones] ADD  DEFAULT (getdate()) FOR [fecharegistro]
GO
ALTER TABLE [dbo].[DetalleTecnicosOT] ADD  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [dbo].[DetalleTecnicosOT] ADD  DEFAULT (getdate()) FOR [fecharegistro]
GO
ALTER TABLE [dbo].[EvidenciasOT] ADD  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [dbo].[EvidenciasOT] ADD  DEFAULT (getdate()) FOR [fecharegistro]
GO
ALTER TABLE [dbo].[MaterialesOT] ADD  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [dbo].[MaterialesOT] ADD  DEFAULT (getdate()) FOR [fecharegistro]
GO
ALTER TABLE [dbo].[OrdenesTrabajo] ADD  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [dbo].[OrdenesTrabajo] ADD  DEFAULT (getdate()) FOR [fecharegistro]
GO
ALTER TABLE [dbo].[ProgramacionPreventivos] ADD  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [dbo].[ProgramacionPreventivos] ADD  DEFAULT (getdate()) FOR [fecharegistro]
GO
ALTER TABLE [dbo].[RecursosSoporte] ADD  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [dbo].[RecursosSoporte] ADD  DEFAULT (getdate()) FOR [fecharegistro]
GO
ALTER TABLE [dbo].[RegistroPausasOT] ADD  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [dbo].[RegistroPausasOT] ADD  DEFAULT (getdate()) FOR [fecharegistro]
GO
ALTER TABLE [dbo].[ChecklistEjecuciones]  WITH CHECK ADD FOREIGN KEY([EquipoID])
REFERENCES [dbo].[CatEquipos] ([ID])
GO
ALTER TABLE [dbo].[ChecklistEjecuciones]  WITH CHECK ADD FOREIGN KEY([EstacionID])
REFERENCES [dbo].[CatEstaciones] ([ID])
GO
ALTER TABLE [dbo].[ChecklistEjecuciones]  WITH CHECK ADD FOREIGN KEY([TemplateID])
REFERENCES [dbo].[ChecklistTemplates] ([ID])
GO
ALTER TABLE [dbo].[ChecklistEjecuciones]  WITH CHECK ADD FOREIGN KEY([TurnoID])
REFERENCES [dbo].[CatTurnos] ([ID])
GO
ALTER TABLE [dbo].[ChecklistEjecuciones]  WITH CHECK ADD FOREIGN KEY([UsuarioID])
REFERENCES [dbo].[CatUsuarios] ([ID])
GO
ALTER TABLE [dbo].[ChecklistEjecucionValores]  WITH CHECK ADD FOREIGN KEY([EjecucionID])
REFERENCES [dbo].[ChecklistEjecuciones] ([ID])
GO
ALTER TABLE [dbo].[ChecklistEjecucionValores]  WITH CHECK ADD FOREIGN KEY([ItemID])
REFERENCES [dbo].[ChecklistTemplateItems] ([ID])
GO
ALTER TABLE [dbo].[ChecklistTemplateItems]  WITH CHECK ADD FOREIGN KEY([TemplateID])
REFERENCES [dbo].[ChecklistTemplates] ([ID])
GO
/****** Object:  StoredProcedure [dbo].[sp_OT_Completar_V2]    Script Date: 9/7/2026 11:43:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_OT_Completar_V2]
            @OrdenTrabajoID INT,
            @EquipoID INT, 
            @FallaRealID INT,
            @TecnicoID INT,
            @ComentariosSolucion VARCHAR(500)
        AS
        BEGIN
            SET NOCOUNT ON;
            BEGIN TRY
                BEGIN TRANSACTION;

                DECLARE @EstadoClosedID INT;
                DECLARE @EstadoActualID INT;
                
                SELECT TOP 1 @EstadoClosedID = ID FROM CatEstadosOT WHERE Nombre = 'CLOSED' AND activo = 1;
                SELECT @EstadoActualID = EstadoID FROM OrdenesTrabajo WHERE ID = @OrdenTrabajoID;

                -- 1. Actualizar orden principal asegurando FechaInicioSoporte
                UPDATE OrdenesTrabajo
                SET EstadoID = @EstadoClosedID,
                    EquipoID = @EquipoID,
                    FallaRealID = @FallaRealID,
                    FechaInicioSoporte = COALESCE(
                        FechaInicioSoporte, 
                        (SELECT TOP 1 FechaArriboQR FROM DetalleTecnicosOT WHERE OrdenTrabajoID = @OrdenTrabajoID AND activo = 1 ORDER BY ID ASC),
                        GETDATE()
                    )
                WHERE ID = @OrdenTrabajoID;

                -- 2. Registrar fin del técnico firmante
                UPDATE DetalleTecnicosOT
                SET FechaFinActividad = GETDATE()
                WHERE OrdenTrabajoID = @OrdenTrabajoID AND TecnicoID = @TecnicoID AND FechaFinActividad IS NULL AND activo = 1;

                -- 3. Bitácora
                INSERT INTO BitacoraEstadosOT (OrdenTrabajoID, EstadoAnteriorID, EstadoNuevoID, UsuarioID, Comentario)
                VALUES (@OrdenTrabajoID, @EstadoActualID, @EstadoClosedID, @TecnicoID, @ComentariosSolucion);

                COMMIT TRANSACTION;
            END TRY
            BEGIN CATCH
                IF @@TRANCOUNT > 0 ROLLBACK TRANSACTION;
                THROW;
            END CATCH;
        END
GO
/****** Object:  StoredProcedure [dbo].[sp_OT_Crear_Correctiva]    Script Date: 9/7/2026 11:43:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_OT_Crear_Correctiva]    

    @EstacionID INT,    

    @LiderID INT,    

    @SintomaFallaLiderID INT,    

    @ClasificacionFallaLiderID INT,    

    @Causa4MID INT,    

    @AreaAfectadaImpacto VARCHAR(150),    

    @EmpleadosAfectados INT,    

    @ComentarioLider VARCHAR(1000),    

    @UsuarioRegistroID INT = NULL,

    @TurnoID INT = NULL,

    @FechaReporte DATETIME = NULL

AS    

BEGIN    

    SET NOCOUNT ON;    

    BEGIN TRY    

        BEGIN TRANSACTION;    

    

        DECLARE @EstadoCreadaID INT;    

        DECLARE @FinalTurnoID INT = @TurnoID;    

        DECLARE @FinalFechaReporte DATETIME = ISNULL(@FechaReporte, GETDATE());

        DECLARE @HoraActual TIME = CONVERT(TIME, @FinalFechaReporte);    

    

        SELECT TOP 1 @EstadoCreadaID = ID FROM CatEstadosOT WHERE Nombre = 'CREATED' AND activo = 1;    

    

        IF @FinalTurnoID IS NULL

        BEGIN

            SELECT TOP 1 @FinalTurnoID = ID     

            FROM CatTurnos     

            WHERE activo = 1     

              AND (    

                (HoraInicio <= HoraFin AND @HoraActual BETWEEN HoraInicio AND HoraFin) OR    

                (HoraInicio > HoraFin AND (@HoraActual >= HoraInicio OR @HoraActual <= HoraFin))    

              );    

        

            IF @FinalTurnoID IS NULL    

                SELECT @FinalTurnoID = TurnoID FROM CatUsuarios WHERE ID = @LiderID;    

        END

    

        DECLARE @NuevaOTID INT;    

        INSERT INTO OrdenesTrabajo (    

            EstacionID, EstadoID, LiderReportaID, TurnoID,     

            SintomaFallaLiderID, ClasificacionFallaLiderID, Causa4MID,     

            AreaAfectadaImpacto, EmpleadosAfectados, ComentarioLider,     

            FechaReporte, TipoMantenimiento, UsuarioRegistroID    

        )    

        VALUES (    

            @EstacionID, @EstadoCreadaID, @LiderID, @FinalTurnoID,    

            @SintomaFallaLiderID, @ClasificacionFallaLiderID, @Causa4MID,    

            @AreaAfectadaImpacto, @EmpleadosAfectados, @ComentarioLider,     

            @FinalFechaReporte, 'CORRECTIVO', @UsuarioRegistroID    

        );    

    

        SET @NuevaOTID = SCOPE_IDENTITY();    

    

        INSERT INTO BitacoraEstadosOT (OrdenTrabajoID, EstadoAnteriorID, EstadoNuevoID, UsuarioID, Comentario)    

        VALUES (@NuevaOTID, NULL, @EstadoCreadaID, @LiderID, 'OT Correctiva creada.');    

    

        COMMIT TRANSACTION;    

        SELECT @NuevaOTID AS OrdenTrabajoID;    

    END TRY    

    BEGIN CATCH    

        IF @@TRANCOUNT > 0 ROLLBACK TRANSACTION;    

        THROW;    

    END CATCH;    

END
GO
/****** Object:  StoredProcedure [dbo].[sp_OT_CrearYAtenderOnDemand]    Script Date: 9/7/2026 11:43:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_OT_CrearYAtenderOnDemand]
    @EstacionID INT,
    @TecnicoID INT,
    @EquipoID INT,
    @TurnoID INT = NULL
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        BEGIN TRANSACTION;

        DECLARE @EstadoOngoingID INT;
        DECLARE @FinalTurnoID INT = @TurnoID;
        DECLARE @HoraActual TIME = CONVERT(TIME, GETDATE());

        -- 1. Obtener ID del estado ONGOING
        SELECT TOP 1 @EstadoOngoingID = ID FROM CatEstadosOT WHERE Nombre = 'ONGOING' AND activo = 1;

        -- 2. Obtener Turno
        IF @FinalTurnoID IS NULL
        BEGIN
            SELECT TOP 1 @FinalTurnoID = ID 
            FROM CatTurnos 
            WHERE activo = 1 
              AND (
                (HoraInicio <= HoraFin AND @HoraActual BETWEEN HoraInicio AND HoraFin) OR
                (HoraInicio > HoraFin AND (@HoraActual >= HoraInicio OR @HoraActual <= HoraFin))
              );
        
            IF @FinalTurnoID IS NULL
                SELECT @FinalTurnoID = TurnoID FROM CatUsuarios WHERE ID = @TecnicoID;
        END

        -- 3. Crear la Orden de Trabajo directamente en estado ONGOING
        DECLARE @NuevaOTID INT;
        INSERT INTO OrdenesTrabajo (
            EstacionID, EstadoID, LiderReportaID, TurnoID, 
            FechaReporte, TipoMantenimiento, UsuarioRegistroID,
            EquipoID, FechaInicioSoporte, ComentarioLider, EmpleadosAfectados, activo
        )
        VALUES (
            @EstacionID, @EstadoOngoingID, @TecnicoID, @FinalTurnoID,
            GETDATE(), 'CORRECTIVO', @TecnicoID,
            @EquipoID, GETDATE(), 'Soporte in-situ iniciado directamente por el técnico sin OT previa.', 0, 1
        );

        SET @NuevaOTID = SCOPE_IDENTITY();

        -- 4. Registrar al técnico en DetalleTecnicosOT para esta OT
        INSERT INTO DetalleTecnicosOT (OrdenTrabajoID, TecnicoID, FechaAsignacion, FechaArriboQR, activo, fecharegistro)
        VALUES (@NuevaOTID, @TecnicoID, GETDATE(), GETDATE(), 1, GETDATE());

        -- 5. Registrar bitácora
        INSERT INTO BitacoraEstadosOT (OrdenTrabajoID, EstadoAnteriorID, EstadoNuevoID, UsuarioID, Comentario)
        VALUES (@NuevaOTID, NULL, @EstadoOngoingID, @TecnicoID, 'OT creada e iniciada en sitio por el técnico.');

        COMMIT TRANSACTION;
        SELECT @NuevaOTID AS OrdenTrabajoID;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0 ROLLBACK TRANSACTION;
        THROW;
    END CATCH;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_OT_IniciarSoporte]    Script Date: 9/7/2026 11:43:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_OT_IniciarSoporte]
    @OrdenTrabajoID INT,
    @TecnicoID INT,
    @EquipoID INT
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        BEGIN TRANSACTION;

        DECLARE @EstadoOngoingID INT;
        DECLARE @EstadoActualID INT;
        SELECT TOP 1 @EstadoOngoingID = ID FROM CatEstadosOT WHERE Nombre = 'ONGOING' AND activo = 1;
        SELECT @EstadoActualID = EstadoID FROM OrdenesTrabajo WHERE ID = @OrdenTrabajoID;

        -- 1. Actualizar la orden con el EquipoID y FechaInicioSoporte
        -- Si no tenia FechaInicioSoporte, registrarla como la fecha actual
        UPDATE OrdenesTrabajo
        SET EquipoID = @EquipoID,
            FechaInicioSoporte = COALESCE(FechaInicioSoporte, GETDATE()),
            EstadoID = CASE WHEN EstadoID = (SELECT ID FROM CatEstadosOT WHERE Nombre = 'CREATED' AND activo = 1) THEN @EstadoOngoingID ELSE EstadoID END
        WHERE ID = @OrdenTrabajoID;

        -- 2. Si el arribo no se habia registrado en DetalleTecnicosOT, registrarlo
        IF EXISTS (SELECT 1 FROM DetalleTecnicosOT WHERE OrdenTrabajoID = @OrdenTrabajoID AND TecnicoID = @TecnicoID AND activo = 1)
        BEGIN
            UPDATE DetalleTecnicosOT
            SET FechaArriboQR = COALESCE(FechaArriboQR, GETDATE())
            WHERE OrdenTrabajoID = @OrdenTrabajoID AND TecnicoID = @TecnicoID AND activo = 1;
        END

        -- 3. Si cambio de CREATED a ONGOING, registrarlo en la bitacora
        IF EXISTS (SELECT 1 FROM CatEstadosOT WHERE ID = @EstadoActualID AND Nombre = 'CREATED')
        BEGIN
            INSERT INTO BitacoraEstadosOT (OrdenTrabajoID, EstadoAnteriorID, EstadoNuevoID, UsuarioID, Comentario)
            VALUES (@OrdenTrabajoID, @EstadoActualID, @EstadoOngoingID, @TecnicoID, 'Arribo de tecnico e inicio de soporte de equipo.');
        END

        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0 ROLLBACK TRANSACTION;
        THROW;
    END CATCH;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_OT_Pausar]    Script Date: 9/7/2026 11:43:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_OT_Pausar]
    @OrdenTrabajoID INT,
    @MotivoPausaID INT,
    @TecnicoID INT,
    @Comentario VARCHAR(500)
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        BEGIN TRANSACTION;

        DECLARE @EstadoStoppedID INT;
        DECLARE @EstadoAnteriorID INT;
        SELECT TOP 1 @EstadoStoppedID = ID FROM CatEstadosOT WHERE Nombre = 'STOPPED' AND activo = 1;
        SELECT @EstadoAnteriorID = EstadoID FROM OrdenesTrabajo WHERE ID = @OrdenTrabajoID;

        -- Actualizar Estado en Orden Principal
        UPDATE OrdenesTrabajo SET EstadoID = @EstadoStoppedID WHERE ID = @OrdenTrabajoID;

        -- Registrar en Historial de Pausas
        INSERT INTO RegistroPausasOT (OrdenTrabajoID, MotivoPausaID, UsuarioPausaID, FechaInicioPausa, Comentario)
        VALUES (@OrdenTrabajoID, @MotivoPausaID, @TecnicoID, GETDATE(), @Comentario);

        -- Registrar Bitacora
        INSERT INTO BitacoraEstadosOT (OrdenTrabajoID, EstadoAnteriorID, EstadoNuevoID, UsuarioID, Comentario)
        VALUES (@OrdenTrabajoID, @EstadoAnteriorID, @EstadoStoppedID, @TecnicoID, @Comentario);

        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0 ROLLBACK TRANSACTION;
        THROW;
    END CATCH;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_OT_Reanudar]    Script Date: 9/7/2026 11:43:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_OT_Reanudar]
    @OrdenTrabajoID INT,
    @TecnicoID INT,
    @CodigoQR VARCHAR(150)
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        BEGIN TRANSACTION;

        DECLARE @CleanQR VARCHAR(150) = LTRIM(RTRIM(@CodigoQR));

        -- Validar Escaneo QR: puede ser el QR de la estacion, el del equipo asignado, o el de cualquier equipo de esa estacion
        IF NOT EXISTS (
            SELECT 1 FROM OrdenesTrabajo ot
            INNER JOIN CatEstaciones est ON ot.EstacionID = est.ID
            WHERE ot.ID = @OrdenTrabajoID AND est.CodigoQR = @CleanQR
        ) AND NOT EXISTS (
            SELECT 1 FROM OrdenesTrabajo ot
            INNER JOIN CatEquipos eq ON ot.EquipoID = eq.ID
            WHERE ot.ID = @OrdenTrabajoID AND eq.CodigoQR = @CleanQR
        ) AND NOT EXISTS (
            SELECT 1 FROM OrdenesTrabajo ot
            INNER JOIN CatEquipos eq ON ot.EstacionID = eq.EstacionID
            WHERE ot.ID = @OrdenTrabajoID AND eq.CodigoQR = @CleanQR
        )
        BEGIN
            THROW 50002, 'QR incorrecto. Debe escanear el QR fisico de la estacion o equipo para reanudar.', 1;
        END

        DECLARE @EstadoOngoingID INT;
        DECLARE @EstadoAnteriorID INT;
        SELECT TOP 1 @EstadoOngoingID = ID FROM CatEstadosOT WHERE Nombre = 'ONGOING' AND activo = 1;
        SELECT @EstadoAnteriorID = EstadoID FROM OrdenesTrabajo WHERE ID = @OrdenTrabajoID;

        -- Cerrar la pausa activa
        UPDATE RegistroPausasOT
        SET FechaFinPausa = GETDATE()
        WHERE OrdenTrabajoID = @OrdenTrabajoID AND FechaFinPausa IS NULL AND activo = 1;

        -- Regresar estado principal a ONGOING
        UPDATE OrdenesTrabajo SET EstadoID = @EstadoOngoingID WHERE ID = @OrdenTrabajoID;

        -- Registrar en Bitacora
        INSERT INTO BitacoraEstadosOT (OrdenTrabajoID, EstadoAnteriorID, EstadoNuevoID, UsuarioID, Comentario)
        VALUES (@OrdenTrabajoID, @EstadoAnteriorID, @EstadoOngoingID, @TecnicoID, 'OT reanudada por escaneo de QR.');

        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0 ROLLBACK TRANSACTION;
        THROW;
    END CATCH;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_OT_RegistrarArriboQR]    Script Date: 9/7/2026 11:43:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_OT_RegistrarArriboQR]
            @OrdenTrabajoID INT,
            @TecnicoID INT,
            @CodigoQR VARCHAR(150)
        AS
        BEGIN
            SET NOCOUNT ON;
            BEGIN TRY
                BEGIN TRANSACTION;

                -- Verificar que el QR corresponda a la estación de la OT o a un equipo de dicha estación
                DECLARE @CleanQR VARCHAR(150) = LTRIM(RTRIM(@CodigoQR));
                IF NOT EXISTS (
                    SELECT 1 
                    FROM OrdenesTrabajo ot
                    INNER JOIN CatEstaciones est ON ot.EstacionID = est.ID
                    WHERE ot.ID = @OrdenTrabajoID AND est.CodigoQR = @CleanQR AND ot.activo = 1
                ) AND NOT EXISTS (
                    SELECT 1
                    FROM OrdenesTrabajo ot
                    INNER JOIN CatEquipos eq ON ot.EstacionID = eq.EstacionID
                    WHERE ot.ID = @OrdenTrabajoID AND eq.CodigoQR = @CleanQR AND ot.activo = 1
                )
                BEGIN
                    THROW 50001, 'El código QR escaneado no corresponde a la estación ni a los equipos de esta orden de trabajo.', 1;
                END

                DECLARE @EstadoOngoingID INT;
                DECLARE @EstadoActualID INT;
                SELECT TOP 1 @EstadoOngoingID = ID FROM CatEstadosOT WHERE Nombre = 'ONGOING' AND activo = 1;
                SELECT @EstadoActualID = EstadoID FROM OrdenesTrabajo WHERE ID = @OrdenTrabajoID;

                -- 1. Actualizar OrdenesTrabajo: cambiar a ONGOING y asegurar FechaInicioSoporte
                UPDATE OrdenesTrabajo
                SET EstadoID = @EstadoOngoingID,
                    FechaInicioSoporte = COALESCE(FechaInicioSoporte, GETDATE())
                WHERE ID = @OrdenTrabajoID;

                -- 2. Registrar en Bitacora si cambió de estado
                IF EXISTS (SELECT 1 FROM CatEstadosOT WHERE ID = @EstadoActualID AND Nombre = 'CREATED')
                BEGIN
                    INSERT INTO BitacoraEstadosOT (OrdenTrabajoID, EstadoAnteriorID, EstadoNuevoID, UsuarioID, Comentario)
                    VALUES (@OrdenTrabajoID, @EstadoActualID, @EstadoOngoingID, @TecnicoID, 'Arribo de técnico registrado por escaneo de QR. Estado cambiado a ONGOING.');
                END

                -- 3. Insertar o actualizar en DetalleTecnicosOT
                IF EXISTS (SELECT 1 FROM DetalleTecnicosOT WHERE OrdenTrabajoID = @OrdenTrabajoID AND TecnicoID = @TecnicoID AND activo = 1)
                BEGIN
                    UPDATE DetalleTecnicosOT
                    SET FechaArriboQR = COALESCE(FechaArriboQR, GETDATE())
                    WHERE OrdenTrabajoID = @OrdenTrabajoID AND TecnicoID = @TecnicoID AND activo = 1;
                END
                ELSE
                BEGIN
                    INSERT INTO DetalleTecnicosOT (OrdenTrabajoID, TecnicoID, FechaAsignacion, FechaArriboQR, activo, fecharegistro)
                    VALUES (@OrdenTrabajoID, @TecnicoID, GETDATE(), GETDATE(), 1, GETDATE());
                END

                COMMIT TRANSACTION;
            END TRY
            BEGIN CATCH
                IF @@TRANCOUNT > 0 ROLLBACK TRANSACTION;
                THROW;
            END CATCH;
        END
GO
/****** Object:  StoredProcedure [dbo].[sp_OT_TransferirTurno]    Script Date: 9/7/2026 11:43:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_OT_TransferirTurno]

    @OrdenTrabajoID INT,

    @TecnicoSalienteID INT,

    @TecnicoEntranteID INT,

    @ComentarioHandover VARCHAR(1000)

AS

BEGIN

    SET NOCOUNT ON;

    BEGIN TRY

        BEGIN TRANSACTION;



        -- 1. Cerrar actividad del técnico saliente

        UPDATE DetalleTecnicosOT

        SET FechaFinActividad = GETDATE()

        WHERE OrdenTrabajoID = @OrdenTrabajoID AND TecnicoID = @TecnicoSalienteID AND FechaFinActividad IS NULL AND activo = 1;



        -- 2. Asignar nuevo técnico en Detalle (esperando su arribo QR en sitio)

        INSERT INTO DetalleTecnicosOT (OrdenTrabajoID, TecnicoID, FechaAsignacion)

        VALUES (@OrdenTrabajoID, @TecnicoEntranteID, GETDATE());



        -- 3. Registrar en Bitácora de Transferencias

        INSERT INTO BitacoraTransferenciasOT (OrdenTrabajoID, TecnicoSalienteID, TecnicoEntranteID, ComentarioHandover)

        VALUES (@OrdenTrabajoID, @TecnicoSalienteID, @TecnicoEntranteID, @ComentarioHandover);



        -- 4. Registrar en Bitacora general de estados indicando el Handover

        DECLARE @EstadoActual INT;

        SELECT @EstadoActual = EstadoID FROM OrdenesTrabajo WHERE ID = @OrdenTrabajoID;

        

        INSERT INTO BitacoraEstadosOT (OrdenTrabajoID, EstadoAnteriorID, EstadoNuevoID, UsuarioID, Comentario)

        VALUES (@OrdenTrabajoID, @EstadoActual, @EstadoActual, @TecnicoSalienteID, 

                CONCAT('Transferencia de turno realizada. Notas: ', SUBSTRING(@ComentarioHandover, 1, 200)));



        COMMIT TRANSACTION;

    END TRY

    BEGIN CATCH

        IF @@TRANCOUNT > 0 ROLLBACK TRANSACTION;

        THROW;

    END CATCH;

END
GO
/****** Object:  StoredProcedure [dbo].[sp_ProcesarEscalacionAlertas]    Script Date: 9/7/2026 11:43:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ProcesarEscalacionAlertas]

AS

BEGIN

    SET NOCOUNT ON;

    

    -- Insertar en la cola las alertas de OTs creadas sin atención oportuna

    INSERT INTO ColaNotificaciones (OrdenTrabajoID, NivelEscalacion, Mensaje, DestinatarioUsuarioID)

    SELECT 

        ot.ID AS OrdenTrabajoID,

        1 AS NivelEscalacion,

        CONCAT('ALERTA: OT #', ot.ID, ' en estación ', est.Nombre, ' ha superado el tiempo límite de atención sin arribo del técnico.'),

        usr.ID AS DestinatarioUsuarioID

    FROM OrdenesTrabajo ot

    INNER JOIN CatEstaciones est ON ot.EstacionID = est.ID

    INNER JOIN CatLineas lin ON est.LineaID = lin.ID

    INNER JOIN CatAreas ar ON lin.AreaID = ar.ID

    INNER JOIN ConfiguracionEscalaciones esc ON esc.AreaID = ar.ID AND esc.ImpactoAfectacion = ot.AreaAfectadaImpacto

    -- Buscar usuarios del area con el Rol configurado en la escalacion

    INNER JOIN CatUsuarios usr ON usr.AreaID = ar.ID AND usr.RolID = esc.RolNotificarID AND usr.activo = 1

    WHERE ot.EstadoID = (SELECT ID FROM CatEstadosOT WHERE Nombre = 'Creada')

      AND ot.TipoMantenimiento = 'CORRECTIVO'

      -- Si han pasado más minutos del limite desde que se reportó

      AND DATEDIFF(MINUTE, ot.FechaReporte, GETDATE()) > esc.TiempoLimiteMinutos

      -- Evitar duplicar alertas del mismo nivel para la misma OT

      AND NOT EXISTS (

          SELECT 1 

          FROM ColaNotificaciones 

          WHERE OrdenTrabajoID = ot.ID AND NivelEscalacion = 1 AND activo = 1

      )

      AND ot.activo = 1;

END
GO
